---
layout: default
---

{% assign person = page %}

<!-- person.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ person.nametitle }} {{ person.firstname }} {{ person.lastname }}
      <div class="person-page-social-icons">
        {%- if person.website -%}
        <a href="{{ person.website }}" title="website"
          ><i class="fas fa-globe"></i
        ></a>
        {%- endif %} {%- if person.scholar_userid -%}
        <a
          href="https://scholar.google.com/citations?user={{ person.scholar_userid }}"
          title="Google Scholar"
          ><i class="ai ai-google-scholar"></i
        ></a>
        {% endif %}{%- if person.linkedin_username -%}
        <a
          href="https://www.linkedin.com/in/{{ person.linkedin_username }}"
          title="LinkedIn"
          ><i class="fab fa-linkedin"></i
        ></a>
        {%- endif %} {%- if person.github -%}
        <a href="{{ person.github }}" title="GitHub"
          ><i class="fab fa-github gh-icon"></i
        ></a>
        {%- endif %}
      </div>
    </h1>
    <p class="post-description">{{ person.job }}</p>
  </header>

  <article>{{ content }}</article>

  <div class="publications">
    <h2>Publications in the group</h2>
    {% bibliography -f oj_bibliography_OJgroup %}
  </div>
</div>
